button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: medium;
  border: none;
  background-color: darkgray;
}

.button_container {
  width: 80px;
  height: 80px;
  border-top: 1px solid #777;
  border-right: 1px solid #666;
  text-align: center;
  line-height: 80px;
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

.operator {
  background: linear-gradient(
    to bottom,
    rgba(252, 156, 23, 1) 0%,
    rgba(247, 126, 27, 1) 100%
  );
}

.operator:active {
  background-color: rgba(247, 126, 27, 1);
}

.number {
  background: linear-gradient(
    to bottom,
    rgba(202, 202, 204, 1) 0%,
    rgba(196, 194, 204, 1) 100%
  );
}

/* .function {
} */
